{{ include('common/header.twig') }}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat">
            <div class="content"><h4 class="text-dark">{{ common.info.currency_abbr }}{{ main_stats.amount|number_format(2, '.', '') }}</h4> <span class="text-dark">Income</span></div>
            <div class="icon"><i class="las la-money-check-alt text-primary"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat">
            <div class="content"><h4 class="text-dark">{{ common.info.currency_abbr }}{{ main_stats.expense|number_format(2, '.', '') }}</h4> <span class="text-dark">Expenses</span></div>
            <div class="icon"><i class="las la-receipt text-danger"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat">
            <div class="content"><h4 class="text-dark">{{ common.info.currency_abbr }}{{ main_stats.salary|number_format(2, '.', '') }}</h4> <span class="text-dark">Salary Expenses</span></div>
            <div class="icon"><i class="las la-hand-holding-usd text-warning"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat">
            <div class="content"><h4 class="text-dark">{{ common.info.currency_abbr }}{{ main_stats.purchase|number_format(2, '.', '') }}</h4> <span class="text-dark">Purchase</span></div>
            <div class="icon"><i class="las la-file-invoice-dollar text-secondary"></i></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="row widget-separator-1 align-items-center">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="widget-1">
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Total Income</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-primary">{{ common.info.currency_abbr }}{{ income_stats.amount|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Total Tax</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-warning">{{ common.info.currency_abbr }}{{ income_stats.tax|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="widget-1">
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Paid</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-success">{{ common.info.currency_abbr }}{{ income_stats.paid|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Due Amount</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-danger">{{ common.info.currency_abbr }}{{ income_stats.due|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-4">
                    <div class="widget-1">
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Discount</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-info">{{ common.info.currency_abbr }}{{ income_stats.discount|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="title">Total Expenses</h5>
                                    <span class="descr">All Time</span>
                                </div>
                                <div class="col text-right">
                                    <div class="number text-danger">{{ common.info.currency_abbr }}{{ main_stats.expense + main_stats.salary|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="public/css/chart.min.css">
<script type="text/javascript" src="public/js/dashboard.js"></script>
<!-- Footer -->
{{ include('common/footer.twig') }}