{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-4">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8 text-right">
			{% if page_add %}
				<a href="{{ common.info.url_route }}medicine/add" class="btn btn-primary btn-sm"><i class="las la-plus pr-2"></i> New Medicine</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive hide_id">
			<table class="table table-middle table-bordered table-striped datatable-table-custom">
				<thead>
					<tr>
						<th>#</th>
						<th>Medicine</th>
						<th>Generic</th>
						<th>Company</th>
						<th>Group</th>
						<th>Unit</th>
						<th>Unit/Packing</th>
						<th>Category</th>
						<th>Storebox</th>
						<th>Reorderlevel</th>
						<th>Live Stock</th>
						<th>Status</th>
						{% if page_view or page_edit or page_delete %}
							<th class="action-th"></th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{# {% for value in result %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>
								<p class="text-primary mb-0">{{ value.name }}</p>
								<p class="mb-0">{{ value.generic }}</p>
							</td>
							<td>{{ value.company }}</td>
							<th>{{ value.unit }}</th>
							<td>{{ value.unitpacking }}</td>
							<td>{{ value.category_name }}</td>
							<td>{{ value.storebox }}</td>
							<td>{{ value.reorderlevel }}</td>
							<td>{{ value.livestock }}</td>
							<td>
								{% if value.minlevel >= value.livestock %}
									<span class="badge badge-sm badge-danger">Minlevel</span>
								{% elseif value.reorderlevel >= value.livestock %}
									<span class="badge badge-sm badge-warning">Reorderlevel</span>
								{% else %}
									<span class="badge badge-sm badge-primary">Normal</span>
								{% endif %}
							</td>
							{% if page_view or page_edit or page_delete %}
								<td class="table-action">
									{% if page_view or page_edit %}
										<div class="dropdown d-inline-block">
											<a class="text-primary edit dropdown-toggle" data-toggle="dropdown"><i class="las la-ellipsis-h"></i></a>
											<ul class="dropdown-menu dropdown-menu-right">
												{% if page_view %}
													<li><a href="{{ common.info.url_route~'medicine/view&id='~value.id }}"><i class="las la-laptop pr-2"></i>View</a></li>
												{% endif %}
												{% if page_edit %}
													<li><a href="{{ common.info.url_route~'medicine/edit&id='~value.id }}"><i class="las la-edit pr-2"></i>Edit</a></li>	
												{% endif %}
											</ul>
										</div>
									{% endif %}
									{% if page_delete %}
										<a class="table-delete text-danger delete" data-toggle="tooltip" title="Delete">
											<i class="las la-trash-alt"></i><input type="hidden" value="{{ value.id }}">
										</a>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endfor %} #}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% if page_delete %}{{ include('common/delete_modal.twig') }}{% endif %}
<script type="text/javascript" src="public/js/medicine.js"></script>
	{{ include('common/footer.twig') }}