{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-4">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8 text-right">
			{% if page_add %}
				<a href="{{ common.info.url_route }}medicine/purchase/add" class="btn btn-primary btn-sm"><i class="las la-plus pr-2"></i> New Purchase</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-middle table-bordered table-striped datatable-table-custom">
				<thead>
					<tr>
						<th>#</th>
						<th>Supplier Name</th>
						<th>Sub Total</th>
						<th>Tax</th>
						<th>Discount</th>
						<th>Amount</th>
						<th>Purchase Date</th>
						{% if page_view or page_edit or page_delete %}
							<th class="action-th"></th>
						{% endif %}
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						{% if page_view or page_edit or page_delete %}
							<th></th>
						{% endif %}
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
{% if page_delete %}{{ include('common/delete_modal.twig') }}{% endif %}
<script type="text/javascript" src="public/js/purchase_list.js"></script>
{{ include('common/footer.twig') }}