{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-12">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form action="{{ action }}" method="post">
	<input type="hidden" name="_token" value="{{ common.token }}">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tab-content pt-4">
				<div class="tab-pane active" id="setting-info">
					<div class="row">
						<div class="col-md-12">
						<div class="row pb-2">
								<div class="col-md-3">
									<div class="form-group">
										<label class="d-block">Logo</label>
										<div class="image-upload" {% if siteinfo.logo %}style="display:none"{% endif %}>
											<a>Upload</a>
										</div>
										<div class="saved-picture" {% if siteinfo.logo is empty %}style="display:none"{% endif %}>
											{% if siteinfo.logo %}
												<img class="img-thumbnail" src="public/uploads/{{ siteinfo.logo }}" alt="">
											{% endif %}
											<input type="hidden" name="info[logo]" value="{{ siteinfo.logo }}">
										</div>
										<div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if siteinfo.logo is empty %}style="display:none"{% endif %}>
											<a class="las la-trash-alt"></a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="d-block">Logo Icon</label>
										<div class="image-upload" {% if siteinfo.logo_icon %}style="display:none"{% endif %}>
											<a>Upload</a>
										</div>
										<div class="saved-picture" {% if siteinfo.logo_icon is empty %}style="display:none"{% endif %}>
											{% if siteinfo.logo_icon %}
												<img class="img-thumbnail" src="public/uploads/{{ siteinfo.logo_icon }}" alt="">
											{% endif %}
											<input type="hidden" name="info[logo_icon]" value="{{ siteinfo.logo_icon }}">
										</div>
										<div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if siteinfo.logo is empty %}style="display:none"{% endif %}>
											<a class="las la-trash-alt"></a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="d-block">Login background</label>
										<div class="image-upload" {% if siteinfo.lg_background %}style="display:none"{% endif %}>
											<a>Upload</a>
										</div>
										<div class="saved-picture" {% if siteinfo.lg_background is empty %}style="display:none"{% endif %}>
											{% if siteinfo.lg_background %}
												<img class="img-thumbnail" src="public/uploads/{{ siteinfo.lg_background }}" alt="">
											{% endif %}
											<input type="hidden" name="info[lg_background]" value="{{ siteinfo.lg_background }}">
										</div>
										<div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if siteinfo.logo is empty %}style="display:none"{% endif %}>
											<a class="las la-trash-alt"></a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="d-block">Favicon</label>
										<div class="image-upload" {% if siteinfo.favicon %}style="display:none"{% endif %}>
											<a>Upload</a>
										</div>
										<div class="saved-picture" {% if siteinfo.favicon is empty %}style="display:none"{% endif %}>
											{% if siteinfo.favicon %}
												<img class="img-thumbnail" src="public/uploads/{{ siteinfo.favicon }}" alt="">
											{% endif %}
											<input type="hidden" name="info[favicon]" value="{{ siteinfo.favicon }}">
										</div>
										<div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if siteinfo.favicon is empty %}style="display:none"{% endif %}>
											<a class="las la-trash-alt"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Store Name <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-tag"></i></span>
									</div>
									<input type="text" name="info[name]" class="form-control" value="{{ siteinfo.name }}" placeholder="Enter Store Name . . ." required>
								</div>
							</div>
							<div class="form-group">
								<label>Store Legal Name <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-id-badge"></i></span>
									</div>
									<input type="text" name="info[legal_name]" class="form-control" value="{{ siteinfo.legal_name }}" placeholder="Enter Store Legal Name . . ." required>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Email Address <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-envelope"></i></span>
									</div>
									<input type="email" name="info[mail]" class="form-control" value="{{ siteinfo.mail }}" placeholder="Enter Email Address . . ." required>
								</div>
							</div>
							<div class="form-group">
								<label>Phone Number <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-mobile"></i></span>
									</div>
									<input type="text" name="info[phone]" class="form-control" value="{{ siteinfo.phone }}" placeholder="Enter Phone Number . . ." required>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label>Address Line 1</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-map-pin"></i></span>
									</div>
									<input type="text" name="info[address][address1]" class="form-control" value="{{ siteinfo.address.address1 }}" placeholder="Enter Address Line 1 . . .">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Address Line 2</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-map-pin"></i></span>
									</div>
									<input type="text" name="info[address][address2]" class="form-control" value="{{ siteinfo.address.address2 }}" placeholder="Enter Address Line 2 . . .">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>City</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-map-signs"></i></span>
									</div>
									<input type="text" name="info[address][city]" class="form-control" value="{{ siteinfo.address.city }}" placeholder="Enter City . . .">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Country</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-map-marker"></i></span>
									</div>
									<input type="text" name="info[address][country]" class="form-control" value="{{ siteinfo.address.country }}" placeholder="Enter Country . . .">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Postal/ZIP Code</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-map"></i></span>
									</div>
									<input type="text" name="info[address][postal]" class="form-control" value="{{ siteinfo.address.postal }}" placeholder="Enter Postal/ZIP Code . . .">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button type="submit" name="submit" class="btn btn-primary"><i class="ti-save-alt pr-2"></i> Save</button>
		</div>
	</div>
</form>
<!-- Footer -->
{{ include('common/footer.twig') }}