{{ include('common/header.twig') }}
<div class="page-title">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
            <div class="breadcrumbs d-inline-block">
                <ul>
                    <li><a href="{{ common.info.url }}">Dashboard</a></li>
                    <li>{{ page_title }}</li>
                </ul>
            </div>
        </div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-middle table-bordered table-striped datatable-count-table report_inventory">
				<thead>
					<tr>
						<th>#</th>
						<th>Medicine</th>
						<th>Purchase</th>
						<th>Sales</th>
						<th>Profit</th>
						<th>Reorderlevel</th>
						<th>Live Stock</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for value in result %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>
								<p class="text-primary mb-0">{{ value.NAME }}</p>
							</td>
							<td>{{ common.info.currency_abbr~value.total_purchase }}</td>
							<td>
								{% if value.total_sales is not empty %}
									{{ common.info.currency_abbr ~ value.total_sales }}
								{% endif %}
							</td>
							<td>
								{% if value.profit is not empty %}
									{{ common.info.currency_abbr ~ value.profit }}
								{% endif %}
							</td>
							<td>{{ value.reorderlevel }}</td>
							<td>{{ value.livestock }}</td>
							<td>
								{% if value.minlevel >= value.livestock %}
									<span class="badge badge-sm badge-danger">Minlevel</span>
								{% elseif value.reorderlevel >= value.livestock %}
									<span class="badge badge-sm badge-warning">Reorderlevel</span>
								{% else %}
									<span class="badge badge-sm badge-primary">Normal</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
{{ include('common/footer.twig') }}