{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-4">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-middle table-bordered table-striped datatable-table">
				<thead>
					<tr>
						<th>#</th>
						<th>Medicine</th>
						<th>Company</th>
						<th>Unit</th>
						<th>Unit/Packing</th>
						<th>Category</th>
						<th>Storebox</th>
						<th>Reorderlevel</th>
						<th>Live Stock</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for value in result %}
						{% if value.livestock is empty or value.livestock < '.1' %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>
									<p class="text-primary mb-0">{{ value.name }}</p>
									<p class="mb-0">{{ value.generic }}</p>
								</td>
								<td>{{ value.company }}</td>
								<th>{{ value.unit }}</th>
								<td>{{ value.unitpacking }}</td>
								<td>{{ value.category_name }}</td>
								<td>{{ value.storebox }}</td>
								<td>{{ value.reorderlevel }}</td>
								<td>{{ value.livestock }}</td>
								<td>
									{% if value.minlevel >= value.livestock %}
										<span class="badge badge-sm badge-danger">Minlevel</span>
									{% elseif value.reorderlevel >= value.livestock %}
										<span class="badge badge-sm badge-warning">Reorderlevel</span>
									{% else %}
										<span class="badge badge-sm badge-primary">Normal</span>
									{% endif %}
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{ include('common/footer.twig') }}