{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-4">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url_route }}">Dashboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8 text-right">
			<a href="{{ common.info.url_route }}role/add" class="btn btn-primary btn-sm"><i class="las la-plus pr-2"></i> New User Role</a>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped datatable-table" width="100%">
				<thead>
					<tr class="table-heading">
						<th>#</th>
						<th>Role Name</th>
						<th>Description</th>
						<th>Created Date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for value in result %}
						<tr>
							<td>{{ loop.index }}</td>
							<td class="text-primary">{{ value.name }}</td>
							<td>{{ value.description }}</td>
							<td>{{ value.created_date|date(common.info.date_format) }}</td>
							<td class="table-action">
								{% if value.id > '1' %}
									<a href="{{ common.info.url_route~'role/edit&id='~value.id }}" class="text-primary edit" data-toggle="tooltip" title="Edit"><i class="las la-edit"></i></a>
									<a class="table-delete text-danger delete" data-toggle="tooltip" title="Delete">
										<i class="las la-trash-alt"></i><input type="hidden" value="{{ value.id }}">
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{ include('common/delete_modal.twig') }}
{{ include('common/footer.twig') }}