{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-12">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li><a href="{{ common.info.url_route }}users">Users</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form action="{{ action }}" method="post">
	<input type="hidden" name="_token" value="{{ common.token }}">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tab-content pt-4">
				<div class="tab-pane active" id="user-info">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>First Name <span class="form-required">*</span></label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="las la-user"></i></span>
											</div>
											<input type="text" name="user[firstname]" class="form-control" value="{{ result.firstname }}" placeholder="Enter First Name . . ." required>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Last Name <span class="form-required">*</span></label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="las la-user"></i></span>
											</div>
											<input type="text" name="user[lastname]" class="form-control" value="{{ result.lastname }}" placeholder="Enter Last Name . . ." required>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Mobile Number <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-mobile"></i></span>
									</div>
									<input type="text" name="user[mobile]" class="form-control" value="{{ result.mobile }}" placeholder="Enter Mobile Number . . ." required>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Email Address <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-envelope"></i></span>
									</div>
									<input type="text" name="user[mail]" class="form-control" value="{{ result.email }}" placeholder="Enter Email Address . . ." required >
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Gender</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="las la-genderless"></i></span>
											</div>
											<select name="user[gender]" class="custom-select">
												<option value="Male" {{ result.gender == 'Male' ? 'selected' : false }}>Male</option>
												<option value="Female" {{ result.gender == 'Female' ? 'selected' : false }}>Female</option>
											</select>
										</div>
									</div>
								</div>
								{% if result.user_id %}
								<div class="col-lg-6">
									<div class="form-group">
										<label>Status</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="las la-check-square"></i></span>
											</div>
											<select name="user[status]" class="custom-select">
												<option value="1" {{ result.status == '1' ? 'selected' : false }}>Enabled</option>
												<option value="0" {{ result.status == '0' ? 'selected' : false }}>Disabled</option>
											</select>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="dotted-seprator mt-4 mb-5"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>User Role <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"><i class="las la-user-tag"></i></span></div>
									<select name="user[user_role]" class="custom-select">
										{% for value in roles %}
											{% if value.id != '1' %}
												<option value="{{ value.id }}" {{ value.id == result.user_role ? 'selected' : false }}>{{ value.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>User Name <span class="form-required">*</span></label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-address-card"></i></span>
									</div>
									<input type="text" name="user[user_name]" class="form-control" value="{{ result.user_name }}" placeholder="Enter User Name . . ." required>
								</div>
							</div>
						</div>
						{% if result.user_id is empty %}
							<div class="col-md-6">
								<div class="form-group">
									<label>Password <span class="form-required">*</span></label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="las la-key"></i></span></div>
										<input type="password" name="user[password]" class="form-control" placeholder="Enter Password . . ." required="">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Confirm Password <span class="form-required">*</span></label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="las la-key"></i></span></div>
										<input type="password" name="user[cpassword]" class="form-control" placeholder="Enter Password . . ." required="">
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="user[user_id]" value="{{ result.user_id }}">
		<div class="panel-footer text-center">
			<button type="submit" name="submit" class="btn btn-primary"><i class="ti-save-alt pr-2"></i> Save</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="public/js/user_form.js?v={{ "now"|date("U") }}"></script>
{{ include('common/footer.twig') }}