{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-12">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="{{ common.info.url_route }}customers">Customers</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<form action="{{ action }}" method="post">
	<input type="hidden" name="_token" value="{{ token }}">
	<input type="hidden" name="customer[id]" value="{{ result.id }}">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>First Name <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-user"></i></span>
							</div>
							<input type="text" name="customer[firstname]" class="form-control" value="{{ result.firstname }}" placeholder="Enter First Name . . . ">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Last Name <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-user"></i></span>
							</div>
							<input type="text" name="customer[lastname]" class="form-control" value="{{ result.lastname }}" placeholder="Enter Last Name . . . ">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Email Address <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-envelope"></i></span>
							</div>
							<input type="email" name="customer[mail]" class="form-control" value="{{ result.email }}" placeholder="Enter Email Address . . . ">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Mobile Number <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-mobile"></i></span>
							</div>
							<input type="text" name="customer[mobile]" class="form-control" value="{{ result.mobile }}" placeholder="Enter Mobile Number . . . ">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Gender</label>
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"><i class="las la-genderless"></i></span></div>
									<select name="customer[gender]" class="custom-select">
										<option value="Male" {{ result.gender == 'Male' ? 'selected' : '' }}>Male</option>
										<option value="Female" {{ result.gender == 'Female' ? 'selected' : '' }}>Female</option>
									</select>
								</div>
							</div>
						</div>
						{% if result.id %}
							<div class="col-md-6">
								<div class="form-group">
									<label>Status</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="las la-check-square"></i></span></div>
										<select name="customer[status]" class="custom-select">
											<option value="1" {{ result.status == '1' ? 'selected' : '' }}>Active</option>
											<option value="0" {{ result.status == '0' ? 'selected' : '' }}>InActive</option>
										</select>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<button type="submit" name="submit" class="btn btn-primary"><i class="ti-save-alt pr-2"></i> Save</button>
		</div>
	</div>
</form>
<!-- Footer -->
{{ include('common/footer.twig') }}